.modalContent {
    position: absolute;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.closeButton {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    padding: 0px;
}

.storeButtons {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}